.add-button-wrapper {

  display: inline-block;
  float: right;
  padding-right: 5vh;

  .add-button {
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    background-color: #40a1ea;

    // Center text in the middle of the button
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    overflow: hidden;

    // Button press effect
    transition: all 0.1s ease;


    .text {
      color: #FFFFFF;
      font-size: 3.15vh;
      pointer-events: none; // WARNING: May limit onClick events
    }

  }

  // Indicate the button is pressed
  .pressed {
    transition: all 0.1s ease;
    transform: scale(0.9);
  }
}
