.add-book-wrapper {

  display: inline-block;
  float: right;
  margin-right: 2vh;

  overflow: auto;
	width: 100%;

  .add-book {
    cursor: pointer;
    height: 4vh;
    width: auto;
    padding: .75vh;
    border-radius: 10px;
    background-color: #40a1ea;

    // Center text in the middle of the button
    vertical-align: middle;
    text-align: center;
    overflow: hidden;

    // Button press effect
    transition: all 0.1s ease;

    .icon {
      color: #FFFFFF;
      font-size: 3.15vh;
      pointer-events: none; // WARNING: May limit onClick events
    }
  }

  // Indicate the button is pressed
  .pressed {
    transition: all 0.1s ease;
    transform: scale(0.9);
  }
}

.table-label {
  display: block;
  font-size: 3.4vh;
  color: #9cb7cb;
}
