.popup-wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);

  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;

  .side-info {
    border-radius: 6px;
    padding: 5vh;
    background: white;

    display: table;

    .associated-item-tables:not(:first-child) {
      padding-top: 3vh;
    }

    .associated-item-titles {
      text-align: left;
      font-size: 3.5vh;
    }
  }



  .popup-form {
    border-radius: 6px;
    padding: 5vh;
    background: white;
    font-size: 3vh;

    display: table;


    label {
      font-size: 2vh;
    }

    input {
      font-size: 1.5vh;
    }

    input[type=text], input[type=email] {
      width: 100%;
      padding: 1vh 1vh;
      margin: .9vh 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4a90e2;
      color: white;
      padding: 2vh 2.3vh;
      margin: .9vh 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    select {
      margin: 1vh;
      width: 20vh;
      padding: 5px 5px 5px 5px;
      font-size: 1.7vh;
      border: 1px solid #ccc;
      height: 4vh;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    /* CAUTION: IE hackery ahead */
    select::-ms-expand {
        display: none; /* remove default arrow on ie10 and ie11 */
    }

    /* target Internet Explorer 9 to undo the custom arrow */
    @media screen and (min-width:0\0) {
        select {
            background:none\9;
            padding: 5px\9;
        }
    }

    .close-button-wrapper {

      float: right;
      cursor: pointer;

      .icon {
        content: '';
      }

      .close-button:before {
        font-weight: 300;
        font-family: Arial, sans-serif;
      }

      .close-button {
        position: relative;
        right: -2vh;
        top: -2.5vh;
        width: 3vh;
        height: 3vh;
        opacity: 0.3;
      }
      .close-button:hover {
        opacity: 1;
      }
      .close-button:before, .close-button:after {
        position: absolute;
        left: 1.5vh;
        content: ' ';
        height: 3.5vh;
        width: .20vh;
        background-color: #000;
      }
      .close-button:before {
        transform: rotate(45deg);
      }
      .close-button:after {
        transform: rotate(-45deg);
      }

      // Indicate the button is pressed
      .pressed {
        transition: all 0.1s ease;
        transform: scale(0.9);
      }
    }

  }
}
