.report-wrapper {
  border-top: 2vh solid transparent;
}

.report-button {
  height: 10vh;
  width: 14vh;

  background-image: 
    url("../../assets/document.svg"),
    linear-gradient(
      to bottom right, 
      #64a7f6, 
      #4a90e2,
    );
  background-position: 7vh 3vh, left top;
  background-repeat: no-repeat, no-repeat;

  display: flex;
  text-align: center;
  justify-content: center;  
  align-items: center;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 2vh;
}

.pressed {
  transition: all 0.2s ease;
  transform: scale(0.95);
}