.focus-table {
  border-collapse: collapse;
  font-size: 2vh;

  tbody, thead {
    display: block;
  }

  td {
    cursor: pointer;
  }

  td, th {
    border-bottom: 1px solid #ddd;
    padding: 2vh;
    min-width: 22vh;
    max-width: 22vh;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    padding-top: 2.4vh;
    padding-bottom: 2vh;
    text-align: left;
  }

  tbody {
    height: auto;
    max-height: 30vh;

    overflow-x: hidden;
    overflow-y: scroll;

    tr:nth-child(odd){
      background-color: #f9f9f9;
    }
    tr:nth-child(even){
      background-color: #ffffff;
    }

    tr:hover {
      background-color: #f2f2f2;
    }
  }
}

.no-item-title {
  padding: 4vh;
  display: inline-block;
}