/* S T I Z I L E S */                                                                                                          
html, body {
  background: #f8fafc;
}

/* m a k e  i t  F L O A T */
.floating {
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 1px #dadde0;
  background-color: white;
}
