/* Sidebar! */
.sidebar {
  width: auto;
  position: fixed;
  z-index: 1;
  top: auto;
  margin: auto;
  overflow-x: hidden;

  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  .button {
    background-color: #FFFFFF;
    color: #7e7e7e;
    padding: .5em .5em .5em .5em;
    margin: 5px 30px 5px 30px;
    font-size: 12px;

    text-align: center;
    display: inline-block;
    transition: all 0.2s ease;

    .text {
      margin-top: 5px;
    }

    img {
      -webkit-filter: grayscale(100%);
      transition: all 0.2s ease;
      height: 50px;
      width: 50px;
    }
  }

  .highlighted {
    .text {
      color: #000000;
    }
    img {
      -webkit-filter: grayscale(0%);
    }
  }

  .pressed {
    transform: scale(0.9);
  }

  .sidebar-line {
    border: 0;
    border-top: 1px solid #dfe7ed;
    display: block;
    height: 1px;
    width: 60%;
    padding: 0;
  }

  .selector {
    background-color: inherit;
    display: inline-block;
    width: 3px;
    height: 40px;

    transition: all 0.2s ease;

    // Shift upwards
    position: relative;
    top: -15px;
  }

  .selector.highlighted {
    background-color: #40a1ea;
  }
}
