/* Sidebar! */
.sidebar {
  width: auto;
  position: fixed;
  z-index: 1;
  top: auto;
  margin: auto;
  overflow-x: hidden;

  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  text-align: center;

  .button {
    background-color: #FFFFFF;
    color: #7e7e7e;
    padding: .5em .5em .5em .5em;
    margin: 5px 30px 5px 30px;
    font-size: 12px;

    display: inline-block;
    transition: all 0.2s ease;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .text {
      margin-top: 5px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }

    img {
      -webkit-filter: grayscale(100%);
      transition: all 0.2s ease;
      height: 35px;
      width: 35px;
      pointer-events: none; /* May limit onClick events */
    }
  }

  .highlighted {
    .text {
      color: #000000;
    }
    img {
      -webkit-filter: grayscale(0%);
    }
  }

  .pressed {
    transform: scale(0.9);
  }

  .sidebar-line {
    border: 0;
    border-top: 1px solid #dfe7ed;
    display: inline-block;
    height: 1px;
    width: 60%;
    padding: 0;
  }

  .selector {
    background-color: inherit;
    display: inline-block;
    width: 3px;
    height: 40px;

    float: left;
    transition: all 0.2s ease;

    // Shift upwards
    position: relative;
    top: 20px;
  }

  .selector.highlighted {
    background-color: #40a1ea;
  }
}
