/* Sidebar! */
.sidebar {
  padding-top: .5vh;
  padding-bottom: .5vh;
  
  height: auto;

  text-align: center;

  .button {
    font-size: 1.4vh;
    background-color: #FFFFFF;
    color: #7e7e7e;
    padding: .5vh .5vh .5vh .5vh;
    margin: .5vh 2.5vh .5vh 2.6vh;
    cursor: pointer;

    display: inline-block;
    transition: all 0.2s ease;

    // Make it act like a button, not a document
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .text {
      margin-top: 1vh;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }

    img {
      -webkit-filter: grayscale(100%);
      transition: all 0.2s ease;
      height: 4.5vh;
      pointer-events: none; // WARNING: May limit onClick events
    }
  }

  .highlighted {
    .text {
      color: #000000;
    }
    img {
      -webkit-filter: grayscale(0%);
    }
  }

  .pressed {
    transform: scale(0.9);
  }

  .sidebar-line {
    border: 0;
    border-top: 1px solid #dfe7ed;
    display: inline-block;
    height: 1px;
    width: 60%;
    padding: 0;
  }

  .selector {
    font-size: 0;
    margin-right: -.4vh;
    background-color: inherit;
    display: inline-block;
    width: .4vh;
    height: 5vh;

    float: left;
    transition: all 0.2s ease;

    // Shift upwards
    position: relative;
    top: 2.3vh

  }

  .selector.highlighted {
    background-color: #40a1ea;
  }
}
